// all
@mc:#3d8cf8;
// @mc:blue;
//公共样式
.ellipsis{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

// 注意事项：
// 1：少用浮动，在用了浮动的地方添加备注
// 2：用less写样式
// 3：使用rem不哟个使用px；

// 重复使用的样式
// 顶部样式
.header-1{
    width: 100%;
    height:44px;
    line-height: 44px;
    background: @mc;
    color: #fff;
    a.goback{
        display: inline-block;
        width: 20%;
        height: 44px;
        padding-left: 10px;
        float: left;
        background: url("../image/fh.png") no-repeat;
        background-size: 18%;
        background-position: 15px 10px;
    }
    h4{
        display: inline-block;
        width:60%;
        text-align: center;
        font-size: 18px;
        float: left;
    }
    a.special{
        display: inline-block;
        width:16%;
        text-align: center;
        font-size: 14px;
    }
    a.list-qx{
        display: inline-block;
        width:16%;
        text-align: center;
    }
    button.submit{
        border: none;
        background: @mc;
        color: #fff;
        font-size: 16px;
        outline: none;
    }
}

.header-3{
    width: 100%;
    height:44px;
    line-height: 44px;
    background: @mc;
    color: #fff;
    text-align: center;
    font-size: 18px;
}

// 底部的菜单
.footer{
    padding: 0;
    margin: 0;
    height: 50px;
    position: fixed;
    width: 100vw;
    left:0;
    bottom: 0;
    background:#fff;
    z-index: 100;
    box-shadow:0 4px 20px 0 rgba(0,0,0,0.16), 0 -2px 4px 0 rgba(0,0,0,0.16);
    ul{
        width: 100% !important;
        display: flex;
        height: 50px;
        line-height:50px;
        li{
            flex: 1;
            text-align: center;
            height: 50px;
            line-height: 20px;
            padding: 5px 0;
            a:before{
                content:'';
                display:block;
                width: 20px;
                height: 20px;   
                margin: 0 auto;
                margin-bottom: 2px;
            }
            a{
                display: inline-block;
                height: 20px;
                width: 100%;
                line-height: 20px; 
                padding: 0 ; 
                font-size: 14px;
                border: none !important;
                text-decoration: none;
                color: #999;
            }
        }
        li:nth-child(1){
            a:before{
                background: url('../image/indexnav1.png') no-repeat;
                background-size: 100% 100%;
            }
            &.active{
                a{
                    color: #202020;
                }
                 a:before{
                    background: url('../image/indexnav.png') no-repeat;
                    background-size: 100% 100%;
                }
            }
        }
         li:nth-child(2){
            a{
                display: inline-block;
                width: 100%;
                height: 100%;
            }
            a:before{
                background: url('../image/fb.png') no-repeat;
                background-size: 100% 100%;
                height: 100%;
                width: 32%;
            }
        }
         li:nth-child(3){
            a:before{
                background: url('../image/mynav1.png') no-repeat;
                background-size: 100% 100%;
            }
            &.active{
                 a:before{
                    background: url('../image/mynav.png') no-repeat;
                    background-size: 100% 100%;
                }
            }
        }
    }
}
.chuantou{
    position: fixed;
}

//************************************************* 首页index.html
.index-all{
    // 头部
    .header{
        width: 92%;
        height:40px;
        margin: 15px 4%;
        border-radius: 8px;
        position: relative;
        border: 1px solid #ccc;
        select{
            display: inline-block;
            width:22%;
            height: 40px;
            line-height: 40px;
            text-align: center;
            border: none;
            background: none;
            padding-left: 10px;
            option{
                text-align: center;
            }
        }
        input{
            display: inline-block;
            width: 75%;
            height: 35px;
            border: none;
            // padding-left: 10px;
        }
        a{
            display: inline-block;
            width:40px;
            height: 40px;
            position: absolute;
            right: 10px;
            background: url("../image/ss.png") no-repeat;
            background-size: 60%;
            background-position: 17px 7px;
            z-index: 5;
        }
    }
    // 主体
    .article-1{
        .index-tab{
            width:100%;
            // 顶部选项卡（使用浮动）
            .index-tab-ul{
                width:100%;
                height: 40px;
                // border: 1px solid @mc;
                margin: 0 auto;
                box-shadow: 0 4px 20px 0 rgba(0,0,0,0.16), 0 -2px 4px 0 rgba(0,0,0,0.16);
                li{
                    list-style: none;
                    float: left;
                    width: 25%;
                    height: 39px;
                    line-height: 39px;
                    text-align: center;
                    font-size: 16px;
                    color: #202020;
                    font-weight: bold;
                    // border-right: 1px solid @mc;
                    span{
                        padding: 0;
                        margin: 0;
                    }
                }
                .selected{
                    color: @mc;
                    border-bottom: 2px solid @mc;
                    // color: #fff;
                }
            }
            // 底部的投票数据列表
            .list{
                width: 100%;
                margin-bottom: 60px;
                >ul{
                    display: none;
                    margin-top: 5px;
                    >li{
                        width:100%;
                        background: #f2f2f2;
                        padding-bottom: 10px;
                        a{
                            display: block;
                            color: #000;
                            background: #fff;
                            padding: 15px 15px 7px 15px;
                            .top{
                                position: relative;
                                img{
                                    display: block;
                                    width:100%;
                                    margin: 0 auto;
                                }
                                .biaotitu{
                                    display: block;
                                    width: 100%;
                                    height: 26px;
                                    line-height:26px;
                                    color: #fff;
                                    padding-right: 10px;
                                    text-align: right;
                                    background: rgba(0, 0, 0, .5);
                                    position: absolute;
                                    bottom: 0;
                                    font-size: 14px;
                                }
                            }
                            .title{
                                width:100%;
                                height: 38px;
                                line-height: 41px;
                                margin: 0 auto;
                                font-size: 16px;
                                color:#202020;
                                text-align: left;
                                .ellipsis;
                            }
                            .time{
                                .begin,.end{
                                    display: inline-block;
                                    width: 49%;
                                    text-align: left;
                                    font-size: 14px;
                                    color:#bbb;
                                    line-height:20px;
                                }
                            }
                            .desc{
                                width: 100%;
                                font-size: 14px;
                                margin: 0 auto;
                                color:#999999;
                                text-align: left;
                                line-height:26px;
                                .ellipsis;
                            }
                        }
                    }
                    >li:last-child{
                        border: none;
                    }
                }
                .active{
                    display: block;
                }
            }
        }
    }
}

// ***********************************************投票详情页content.html
.content-all{
    .artical{
        .xinxi{
            width:100%;
            height: 60px;
            border-bottom: 1px solid #eee;
            position: relative;
            a{
                display: block;
                color: #000;
                img{
                    display: inline-block;
                    width:40px;
                    height: 40px;
                    margin: 10px;
                }
                .xinxi-desc{
                    display: inline-block;
                    width:70%;
                    position: absolute;
                    top:0;
                    span{
                        display: block;
                        height: 30px;
                        line-height: 30px;
                    }
                }
            }
        }
        .main{
            .main-top{
                .title{
                    width:96%;
                    height: 40px;
                    line-height: 40px;
                    margin: 0 auto;
                    font-size: 16px;
                    text-align: center;
                    .ellipsis;
                }
                .time{
                    .begin,.end{
                        display: inline-block;
                        width: 49%;
                        line-height: 30px;
                        text-align: center;
                        font-size: 14px;
                    }
                }
                .desc{
                    width: 96%;
                    line-height: 30px;
                    font-size: 14px;
                    margin: 0 auto;
                }
                img{
                    display: block;
                    width:96%;
                    margin: 0 auto 10px auto;
                }
            }
            .main-middle{
                background: #eee;
                .niming{
                    p{
                        display: inline-block;
                        width:49%;
                        height: 40px;
                        line-height: 40px;
                        text-align: center;
                    }
                }
                .tup-xuanxiang{
                    width: 96%;
                    margin: 0 auto;
                    li{
                        display: inline-block;
                        width:49%;
                        position: relative;
                        >img{
                            width:100%;
                            margin-bottom: 10px;
                        }
                        .xuanxiang-desc{
                            display: none;
                            height: 40px;
                            progress{
                                width:80%;
                                margin-right: 10px;
                            }
                        }
                        .fuceng{
                            position: absolute;
                            bottom: 14px;
                            width: 100%;
                            background: rgba(0, 0, 0, .5);
                            z-index: 2;
                            span{
                                display: inline-block;
                                width: 80%;
                                line-height: 30px;
                                color: #fff;
                                font-size: 14px;
                                padding-left: 10px;
                            }
                            img{
                                display: inline-block;
                                width: 30px;
                                height: 30px;
                                position: absolute;
                                right: 5px;
                            }
                        }
                    }
                }
                .wenzi-xuanxiang{
                    li{
                        line-height: 35px;
                        padding: 0 10px 0 15px;
                        border-bottom: 1px solid #ccc;
                        position: relative;
                        &:before{
                            content: "";
                            display: inline-block;
                            width:5px;
                            height: 5px;
                            background: @mc;
                            position: absolute;
                            top: 15px;
                            left: 5px;
                        }
                        .xx{
                            display: inline-block;
                            width:90%;
                        }
                        .check{
                            display: inline-block;
                            width: 20px;
                            height: 20px;
                            border: 1px solid #ccc;
                        }
                        .active{
                            background: url("../image/yxz.png") no-repeat;
                            background-size: contain;
                        }
                        .xuanxiang-desc{
                            display: none;
                            height: 40px;
                            progress{
                                width:80%;
                                margin-right: 10px;
                            }
                        }
                    }
                }
            }
            
            .toupiao{
                display: block;
                width:95%;
                height: 40px;
                line-height: 40px;
                margin: 10px auto;
                border: none;
                background: @mc;
                color: #fff;
                border-radius: 10px;
            }
        }
    }
    .shanchu{
        width: 100%;
        position: fixed;
        bottom: 0;
        z-index: 4;
        ul{
            width: 96%;
            margin: 0 auto;
            li{
                width: 100%;
                height: 40px;
                line-height: 40px;
                text-align: center;
                background: #fff;
                border-radius: 5px;
                margin-bottom: 7px;
                a{
                    color: #000;
                    display: block;
                }
            }
        }
    }
    .mask{
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, .5);
        position: fixed;
        top: 0;
        z-index: 3;
    }
}

// ***********************************************我的页面my.html
.my-all{
    .header-2{
        .middle{
            width: 100%;
            height: 26vh;
            // background: @mc;
            padding-top: 5vh;
            // border: 1px solid #ccc;
            background: url("../image/bgh.png") no-repeat;
            background-size: 100%;
            img{
                display: block;
                width: 70px;
                height: 70px;
                margin:0 auto;
            }
            p.nicheng{
                width:100%;
                height: 50px;
                line-height: 50px;
                text-align: center;
                font-size: 16px;
                color: #202020;
            }
        }
    }
    .article{
        background: #f2f2f2;
        padding-bottom: 10px;
        margin-top: 10px;
        .my-spe{
            padding: 10px 0 15px 0;
            background: #fff;
            width: 100%;
            li{
                display: inline-block;
                width:32.5%;
                height: 50px;
                text-align: center;
                a{
                    display: inline-block;
                    color: #000;
                    width:100%;
                    height: 50px;
                    text-align: center;
                    padding-top: 60px;
                    font-size: 14px;
                }
            }
            .faqi a{
                background: url("../image/faqi.png") no-repeat;
                background-size: 50px 50px;
                background-position: 35px 0;
            }
            .canyu a{
                background: url("../image/canyu.png") no-repeat;
                background-size: 50px 50px;
                background-position: 35px 0;
            }
            .shouquan a{
                background: url("../image/shouquan.png") no-repeat;
                background-size: 50px 50px;
                background-position: 35px 0;
            }
        }
    }
}

// ***********************************************用户管理yonghulist.html
.yonghu-all{
    .yonghu-list{
        ul{
            li{
                .xinxi{
                    width:100%;
                    height: 70px;
                    border-bottom: 1px solid #eee;
                    position: relative;
                    display: block;
                    color: #000;
                    img{
                        display: inline-block;
                        width:46px;
                        height: 46px;
                        margin: 10px;
                    }
                    .xinxi-desc{
                        display: inline-block;
                        width:65%;
                        height: 70px;
                        position: absolute;
                        top:0;
                        span{
                            display: block;
                            height: 30px;
                            line-height: 40px;
                        }
                        .lx{
                            color: #9e9c9c;
                            font-size: 14px;
                        }
                    }
                    .inp{
                        display: inline-block;
                        width:20px;
                        height: 20px;
                        background:url("../image/wx.png") no-repeat;
                        background-size: cover;
                        position: absolute;
                        top: 25px;
                        right: 30px;
                    }
                    .xz-inp{
                        background: url("../image/xz.png") no-repeat;
                        background-size: cover;
                        background-position: 0 0px;
                    }
                }
            }
        }
    }
    .footer-yonghu{
        width: 100%;
        position: fixed;
        bottom: 0;
        button{
            display: block;
            width:95%;
            height: 40px;
            line-height: 40px;
            margin: 10px auto;
            border: none;
            background: @mc;
            color: #fff;
            border-radius: 8px;
            font-size: 16px;
        }
    }
}


// ***********************************************投票列表页面lsit.html
.list-all{
    // 主体
    .article-1{
        .index-tab{
            width:100%;
            // 顶部选项卡（使用浮动）
            .index-tab-ul{
                width:100%;
                height: 40px;
                // border: 1px solid @mc;
                margin: 0 auto;
                box-shadow: 0 4px 20px 0 rgba(0,0,0,0.16), 0 -2px 4px 0 rgba(0,0,0,0.16);
                li{
                    list-style: none;
                    float: left;
                    width: 25%;
                    height: 39px;
                    line-height: 39px;
                    text-align: center;
                    font-size: 16px;
                    color: #202020;
                    font-weight: bold;
                    // border-right: 1px solid @mc;
                    span{
                        padding: 0;
                        margin: 0;
                    }
                }
                .selected{
                    color: @mc;
                    border-bottom: 2px solid @mc;
                    // color: #fff;
                }
            }
            // 底部的投票数据列表
            .list{
                width: 100%;
                margin-bottom: 60px;
                >ul{
                    display: none;
                    margin-top: 5px;
                    >li{
                        width:100%;
                        background: #f2f2f2;
                        padding-bottom: 10px;
                        a{
                            display: block;
                            color: #000;
                            background: #fff;
                            padding: 15px 15px 7px 15px;
                            .top{
                                position: relative;
                                img{
                                    display: block;
                                    width:100%;
                                    margin: 0 auto;
                                }
                                .biaotitu{
                                    display: block;
                                    width: 100%;
                                    height: 26px;
                                    line-height:26px;
                                    color: #fff;
                                    padding-right: 10px;
                                    text-align: right;
                                    background: rgba(0, 0, 0, .5);
                                    position: absolute;
                                    bottom: 0;
                                    font-size: 14px;
                                }
                            }
                            .title{
                                width:100%;
                                height: 38px;
                                line-height: 41px;
                                margin: 0 auto;
                                font-size: 16px;
                                color:#202020;
                                text-align: left;
                                .ellipsis;
                            }
                            .time{
                                .begin,.end{
                                    display: inline-block;
                                    width: 49%;
                                    text-align: left;
                                    font-size: 14px;
                                    color:#bbb;
                                    line-height:20px;
                                }
                            }
                            .desc{
                                width: 100%;
                                font-size: 14px;
                                margin: 0 auto;
                                color:#999999;
                                text-align: left;
                                line-height:26px;
                                .ellipsis;
                            }
                        }
                    }
                    >li:last-child{
                        border: none;
                    }
                }
                .active{
                    display: block;
                }
            }
        }
    }
    .article-5{
        margin-top:5px;
    }
}

// ***********************************************发起投票页面add.html
.add-all{
    .article{
        .add-top{
            .add-biaoti{
                width: 100%;
                border-bottom: 1px solid #ccc;
                #biaoti{
                    width: 100%;
                    height: 46px;
                    line-height: 46px;
                    border: none;
                    padding-left: 15px;
                    font-size: 14px;
                    color: #999;
                }
            }
            .add-miaoshu{
                border-bottom: 1px solid #ccc;
                >p{
                    width: 100%;
                    height: 46px;
                    line-height: 46px;
                    &:before{
                        content: "";
                        border: 3px solid @mc;
                        margin-right: 10px;
                        border-radius: 0 5px 5px 0;
                    }
                }
                >textarea{
                    width:100% !important;
                    border: none;
                    padding: 10px;
                    resize: none;
                    font-size: 14px;
                    color: #999;
                    line-height:26px;
                }
                #tp{
                    padding:0 15px;
                    li{
                        display: inline-block;
                        width: 24%;
                        height: 80px;
                        position: relative;
                        margin-right: 1%;
                        a{
                            display: inline-block;
                            width: 100%;
                            height: 30px;
                            line-height: 30px;
                            text-align: center;
                            color: #fff;
                            font-size: 14px;
                            background: rgba(0, 0, 0, .5);
                            position: absolute;
                            bottom: 0;
                        }
                        img{
                            width: 100%;
                            height: 100%;
                        }
                    }
                    li:nth-child(4n){
                        margin-right: 0;
                    }
                    li:nth-child(n+5){
                        margin-bottom: 0;
                    }
                }
                .add-tupianmiaoshu{
                    width: 100%;
                    height: 40px;
                    line-height: 40px;
                    .add-left{
                        display: inline-block;
                        width:70%;
                        padding-left: 10px;
                        .btn1{
                            background: @mc;
                            border: none;
                            color: #fff;
                            height: 30px;
                            line-height: 30px;
                            padding: 0 10px;
                            border-radius: 8px;
                        }
                    }
                    .add-right{
                        display: inline-block;
                        width:28%;
                        text-align: right;
                        padding-right: 10px;
                        color: #bbb;
                    }
                }
            }
        }
        .add-middle{
            //开关
            // #toggle-button,#toggle-button1{ display: none; }
            // .button-label,.button-label1{
            //     position: relative;
            //     display: inline-block;
            //     width: 50px;
            //     height: 25px;
            //     background-color: #ccc;
            //     box-shadow: #ccc 0px 0px 0px 2px;
            //     border-radius: 25px;
            //     overflow: hidden;
            //     top: 7px;
            // }
            // .circle,.circle1{
            //     position: absolute;
            //     top: 0;
            //     left: 0;
            //     width: 25px;
            //     height: 25px;
            //     border-radius: 50%;
            //     background-color: #fff;
            // }
            // .button-label .text,.button-label1 .text1 {
            //     line-height: 25px;
            //     font-size: 18px;
            //     text-shadow: 0 0 2px #ddd;
            // }

            // .on,.on1 { color: #fff; display: none; text-indent: 10px;}
            // .off,.off1{ color: #fff; display: inline-block; text-indent: 34px;}
            // .button-label .circle,.button-label1 .circle1{
            //     left: 0;
            //     transition: all 0.3s;
            // }
            // #toggle-button:checked + label.button-label .circle,#toggle-button1:checked + label.button-label1 .circle1{
            //     left: 25px;
            // }
            // #toggle-button:checked + label.button-label .on,#toggle-button1:checked + label.button-label1 .on1{ display: inline-block; }
            // #toggle-button:checked + label.button-label .off,#toggle-button1:checked + label.button-label1 .off1{ display: none; }
            // #toggle-button:checked + label.button-label,#toggle-button1:checked + label.button-label1{
            //     background-color: #0BB908;
            // }


            >p{
                width: 100%;
                height: 46px;
                line-height: 46px;
                border-bottom: 1px solid #ccc;
                .add-middle-left,.add-middle-left1{
                    display: inline-block;
                    height: 100%;
                    width:80%;
                    float: left;
                    &:before{
                        content: "";
                        border: 3px solid @mc;
                        margin-right: 10px;
                        border-radius: 0 5px 5px 0;
                    }
                }
                .add-middle-right{
                    display: inline-block;
                    height: 100%;
                    width:18%;
                    text-align: center;
                    float: left;
                    position: relative;
                    .isDuoXuan,.isImgVote{
                        display: inline-block;
                        position: absolute;
                        right: 0;
                        top: 50%;
                        margin-top: -10px;
                        height: 20px;
                        width: 40px;
                        border: 1px solid #ccc;
                        border-radius: 10px;
                        background-color: #EEEEEE;
                        &:after {
                            content: '';
                            display: block;
                            position: absolute;
                            top: 0;
                            left: 1px;
                            text-align: center;
                            line-height: 18px;
                            color: #000;
                            width: 18px;
                            height: 18px;
                            border-radius: 50%;
                            background-color: #fff;
                        }
                        &.on {               
                            right: 1px;
                            left: auto;
                            border-color: transparent;
                            background-color: #44DB54;
                            &:after{
                                left: auto;
                                right: 1px;
                            }
                        }
                    }
                }
                .add-middle-left1{
                    width:65%;
                    float: left;
                }
                .add-middle-right1{
                    display: inline-block;
                    height: 100%;
                    width:35%;
                    text-align: center;
                    // float: left;
                    *{
                        padding: 0;
                        margin: 0;
                        height: 50%;
                        margin-top: 8%;
                    }
                    input[type="button"]{
                        width:20px;
                        float: left;
                        line-height: 15px;
                    }
                    input[type="num"]{
                        width:50%;
                        float: left;
                        text-align: center;
                    }
                }
            }
            #xuanxiang{
                li{
                    width: 100%;
                    border-bottom: 1px solid #ccc;
                    position: relative;
                    input{
                        display: inline-block;
                        width:85%;
                        height: 46px;
                        line-height: 46px;
                        border: none;
                        padding-left: 20px;
                        font-size: 14px;
                    }
                    .close{
                        display: inline-block;
                        width:10%;
                        height: 46px;
                        line-height: 46px;
                        text-align: center;
                        position: absolute;
                        right: 15px;
                        background: url("../image/sc.png") no-repeat;
                        background-position: 0 10px;
                    }
                }
            }
            #xuanxiangt{
                height: auto;
                .z_addImg1{
                    height: 40px;
                    padding-left: 15px;
                    border-bottom: 1px solid #ccc;
                    img{
                        display: inline-block;
                        width: 30px;
                        height: 30px;
                        margin-top:5px;
                        margin-right: 5px;
                        float: left;
                    }
                    input{
                        display: inline-block;
                        width: 70%;
                        height: 30px;
                        line-height: 30px;
                        float: left;
                        margin-top: 5px;
                        border: none;
                    }
                    .close1{
                        display: inline-block;
                        width: 10%;
                        height: 40px;
                        line-height: 40px;
                        text-align: center;
                        position: absolute;
                        right: 15px;
                    }
                }
            }
            .add-list,.add-list1{
                display: block;
                border-bottom: 1px solid #ccc;
                .btn1,.btn{
                    width: 100%;
                    height: 46px;
                    line-height: 46px;
                    border: none;
                    background: #fff;
                    color: @mc;
                }
            }
        }
        .add-bottom{
            margin-bottom: 20px;
            .gaoji{
                width: 100%;
                height: 46px;
                line-height: 46px;
                border-bottom: 1px solid #ccc;
                position: relative;
                &:before{
                    content: "";
                    border: 3px solid @mc;
                    margin-right: 10px;
                    border-radius: 0 5px 5px 0;
                }
                >span{
                    display: inline-block;
                    height: 100%;
                    width: 82%;
                }
                >img{
                    display: inline-block;
                    position: relative;
                    top: 5px;
                }
            }
            .gaoji-xuanx{
                li{
                    width: 100%;
                    height: 46px;
                    line-height: 46px;
                    border-bottom: 1px solid #ccc;
                    p{
                        display: inline-block;
                        height: 100%;
                        width: 65%;
                        padding-left: 15px;
                    }
                    span{
                        display: inline-block;
                        height: 100%;
                        width: 30%;
                        text-align: right;
                        input{
                            width: 100%;
                            height: 80%;
                            // border: none;
                        }
                    }
                    //开关
                    #toggle-button2{ display: none; }
                    .button-label2{
                        position: relative;
                        display: inline-block;
                        width: 50px;
                        height: 25px;
                        background-color: #ccc;
                        box-shadow: #ccc 0px 0px 0px 2px;
                        border-radius: 25px;
                        overflow: hidden;
                        top: 7px;
                    }
                    .circle2{
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 25px;
                        height: 25px;
                        border-radius: 50%;
                        background-color: #fff;
                    }
                    .button-label2 .text2{
                        line-height: 25px;
                        font-size: 18px;
                        text-shadow: 0 0 2px #ddd;
                    }

                    .on2{ color: #fff; display: none; text-indent: 10px;}
                    .off2{ color: #fff; display: inline-block; text-indent: 34px;}
                    .button-label2 .circle2{
                        left: 0;
                        transition: all 0.3s;
                    }
                    #toggle-button2:checked + label.button-label2 .circle2{
                        left: 25px;
                    }
                    #toggle-button2:checked + label.button-label2 .on2{ display: inline-block; }
                    #toggle-button2:checked + label.button-label2 .off2{ display: none; }
                    #toggle-button2:checked + label.button-label2{
                        background-color: #0BB908;
                    }
                }
            }
        }
    }
}
