// all
@mc:#3d8cf8;
// @mc:blue;
//公共样式
.ellipsis{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

// 注意事项：
// 1：少用浮动，在用了浮动的地方添加备注
// 2：用less写样式
// 3：使用rem不哟个使用px；

// 重复使用的样式
// 顶部样式
.header-1{
    width: 100%;
    height:44px;
    line-height: 44px;
    background: @mc;
    color: #fff;
    a.goback{
        display: inline-block;
        width: 20%;
        height: 44px;
        padding-left: 10px;
        float: left;
        color: #fff;
        background-size: 18%;
        background-position: 15px 10px;
        font-family: serif;
        font-weight: bold;
    }
    h4{
        display: inline-block;
        width:60%;
        text-align: center;
        font-size: 18px;
        float: left;
    }
    a.special{
        display: inline-block;
        width:16%;
        height: 44px;
        text-align: center;
        font-size: 14px;
        background: url("../image/more.png") no-repeat;
        background-position: right 12px;
    }
    a.list-qx{
        display: inline-block;
        text-align: center;    
        margin-left: 25px;
    }
    a.qx{
        display: inline-block;
        text-align: center;
        margin: 0;
    }
    button.submit{
        border: none;
        background: @mc;
        color: #fff;
        font-size: 16px;
        outline: none;    
        margin-left: 25px;
    }
}

.header-3{
    width: 100%;
    height:44px;
    line-height: 44px;
    background: @mc;
    color: #fff;
    text-align: center;
    font-size: 18px;
}

// 底部的菜单
.footer{
    padding: 0;
    margin: 0;
    height: 50px;
    position: fixed;
    width: 100vw;
    left:0;
    bottom: 0;
    background:#fff;
    z-index: 100;
    box-shadow:0 4px 20px 0 rgba(0,0,0,0.16), 0 -2px 4px 0 rgba(0,0,0,0.16);
    ul{
        width: 100% !important;
        display: flex;
        height: 50px;
        line-height:50px;
        li{
            flex: 1;
            text-align: center;
            height: 50px;
            line-height: 20px;
            padding: 5px 0;
            a:before{
                content:'';
                display:block;
                width: 20px;
                height: 20px;   
                margin: 0 auto;
                margin-bottom: 2px;
            }
            a{
                display: inline-block;
                height: 20px;
                width: 100%;
                line-height: 20px; 
                padding: 0 ; 
                font-size: 14px;
                border: none !important;
                text-decoration: none;
                color: #999;
            }
        }
        li:nth-child(1){
            a:before{
                background: url('../image/indexnav1.png') no-repeat;
                background-size: 100% 100%;
            }
            &.active{
                a{
                    color: #202020;
                }
                 a:before{
                    background: url('../image/indexnav.png') no-repeat;
                    background-size: 100% 100%;
                }
            }
        }
         li:nth-child(2){
            a{
                display: inline-block;
                width: 100%;
                height: 100%;
            }
            a:before{
                background: url('../image/fb.png') no-repeat;
                background-size: 90% 90%;
                background-position: 0 2px;
                height: 100%;
                width: 32%;
            }
        }
         li:nth-child(3){
            a:before{
                background: url('../image/mynav1.png') no-repeat;
                background-size: 100% 100%;
            }
            &.active{
                 a:before{
                    background: url('../image/mynav.png') no-repeat;
                    background-size: 100% 100%;
                }
            }
        }
    }
}
.chuantou{
    position: fixed;
}

//************************************************* 首页index.html
.index-all{
    // 头部
    .header{
        width: 92%;
        height:41px;
        margin: 15px 4%;
        border-radius: 8px;
        position: relative;
        border: 1px solid #ccc;
        select{
            display: inline-block;
            width:21%;
            height: 40px;
            line-height: 40px;
            text-align: center;
            border: none;
            background: none;
            padding-left: 6px;
            font-size: 14px;
            color: #202020;
            float: left;
            option{
                text-align: center;
                color: #202020;
            }
        }
        input{
            display: inline-block;
            width: 70%;
            height: 35px;
            border: none;
            float: left;
            // padding-left: 10px;
        }
        a{
            display: inline-block;
            width:34px;
            height: 34px;
            position: absolute;
            right: 6px;
            background: url("../image/ss.png") no-repeat;
            background-size: 60%;
            background-position: 12px 8px;
            z-index: 5;
        }
    }
    // 主体
    .article-1{
        .index-tab{
            width:100%;
            // 顶部选项卡（使用浮动）
            .index-tab-ul{
                width:100%;
                height: 40px;
                // border: 1px solid @mc;
                margin: 0 auto;
                box-shadow: 0 4px 20px 0 rgba(0,0,0,0.16), 0 -2px 4px 0 rgba(0,0,0,0.16);
                li{
                    list-style: none;
                    float: left;
                    width: 25%;
                    height: 39px;
                    line-height: 39px;
                    text-align: center;
                    font-size: 16px;
                    color: #202020;
                    font-weight: bold;
                    // border-right: 1px solid @mc;
                    span{
                        padding: 0;
                        margin: 0;
                    }
                }
                .selected{
                    color: @mc;
                    border-bottom: 2px solid @mc;
                    // color: #fff;
                }
            }
            // 底部的投票数据列表
            .list{
                width: 100%;
                margin-bottom: 60px;
                >ul{
                    display: none;
                    margin-top: 5px;
                    >li{
                        width:100%;
                        background: #f2f2f2;
                        padding-bottom: 10px;
                        a{
                            display: block;
                            color: #000;
                            background: #fff;
                            padding: 15px 15px 7px 15px;
                            .top{
                                position: relative;
                                img{
                                    display: block;
                                    width:100%;
                                    margin: 0 auto;
                                }
                                .biaotitu{
                                    display: block;
                                    width: 100%;
                                    height: 26px;
                                    line-height:26px;
                                    color: #fff;
                                    padding-right: 10px;
                                    text-align: right;
                                    background: rgba(0, 0, 0, .5);
                                    position: absolute;
                                    bottom: 0;
                                    font-size: 14px;
                                }
                            }
                            .title{
                                width:100%;
                                height: 38px;
                                line-height: 41px;
                                margin: 0 auto;
                                font-size: 16px;
                                color:#202020;
                                text-align: left;
                                .ellipsis;
                            }
                            .time{
                                .begin,.end{
                                    display: inline-block;
                                    width: 49%;
                                    text-align: left;
                                    font-size: 14px;
                                    color:#bbb;
                                    line-height:20px;
                                }
                            }
                            .desc{
                                width: 100%;
                                font-size: 14px;
                                margin: 0 auto;
                                color:#999999;
                                text-align: left;
                                line-height:26px;
                                .ellipsis;
                            }
                        }
                    }
                    >li:last-child{
                        border: none;
                    }
                }
                .active{
                    display: block;
                }
            }
        }
    }
}

// ***********************************************投票详情页content.html
.content-all{
    .artical{
        padding-bottom: 10px;
        background: #f2f2f2;
        .xinxi{
            width:100%;
            height: 60px;
            border-bottom: 1px solid #eee;
            position: relative;
            margin-bottom: 60px;
            background: #fff;
            a{
                display: block;
                color: #202020;
                img{
                    display: inline-block;
                    width:40px;
                    height: 40px;
                    margin: 10px;
                }
                .xinxi-desc{
                    display: inline-block;
                    width:70%;
                    position: absolute;
                    top:0;
                    span{
                        display: block;
                        height: 24px;
                        line-height: 36px;
                        font-size: 14px;
                    }
                }
            }
        }
        .main{
            background: #fff;
            .zhuangtai{
                width: 100%;
                height: 40px;
                line-height: 40px;
                font-size: 14px;
                p{
                    width: 100%;
                    padding-left: 10px;
                    .hr{
                        display: inline-block;
                        width: 50%; 
                        background: url("../image//hr.png") no-repeat;
                        padding-left: 20px;
                        background-position: 0 11px;
                    }
                    .cy{
                        display: inline-block;
                        width: 46%;
                        text-align: right;
                    }
                }
            }
            .main-top{
                .title{
                    width:96%;
                    height: 40px;
                    line-height: 40px;
                    margin: 0 auto;
                    font-size: 16px;
                    text-align: center;
                    .ellipsis;
                }
                .time{
                    .begin,.end{
                        display: inline-block;
                        width: 49%;
                        line-height: 30px;
                        text-align: center;
                        font-size: 14px;
                    }
                    .juli{
                        display: block;
                        width: 100%;
                        height: 30px;
                        line-height: 30px;
                        padding-left: 30px;
                        font-size: 14px;
                        color: #999;
                        background: url("../image/03.png") no-repeat;
                        background-position: 10px 5px;
                    }

                }
                .desc{
                    width: 96%;
                    line-height: 30px;
                    font-size: 14px;
                    margin: 0 auto;
                    text-indent:2em;
                }
                img{
                    display: block;
                    width:96%;
                    margin: 0 auto 10px auto;
                }
            }
            .main-middle{
                background: #fff;
                .niming{
                    p{
                        display: inline-block;
                        width:34%;
                        height: 40px;
                        line-height: 40px;
                        text-align: center;
                    }
                }
                .tup-xuanxiang{
                    width: 96%;
                    margin: 0 auto;
                    li{
                        display: inline-block;
                        width:49%;
                        position: relative;
                        >img{
                            width:100%;
                            margin-bottom: 10px;
                        }
                        .xuanxiang-desc{
                            display: none;
                            height: 40px;
                            progress{
                                width:80%;
                                margin-right: 10px;
                            }
                        }
                        .fuceng{
                            position: absolute;
                            bottom: 14px;
                            width: 100%;
                            background: rgba(0, 0, 0, .5);
                            z-index: 2;
                            span{
                                display: inline-block;
                                width: 80%;
                                line-height: 30px;
                                color: #fff;
                                font-size: 14px;
                                padding-left: 10px;
                            }
                            img{
                                display: inline-block;
                                width: 20px;
                                height: 20px;
                                position: absolute;
                                right: 5px;
                                top: 5px;
                            }
                        }
                    }
                }
                .wenzi-xuanxiang{
                    li{
                        line-height: 35px;
                        padding: 0 10px 0 15px;
                        border-bottom: 1px solid #ccc;
                        position: relative;
                        &:before{
                            content: "";
                            display: inline-block;
                            width:5px;
                            height: 5px;
                            background: @mc;
                            position: absolute;
                            top: 15px;
                            left: 5px;
                        }
                        .xx{
                            display: inline-block;
                            width:90%;
                        }
                        .check{
                            display: inline-block;
                            width: 20px;
                            height: 20px;
                            border: 1px solid #ccc;
                            position: absolute;
                            top: 7px;
                        }
                        .active{
                            background: url("../image/yxz.png") no-repeat;
                            background-size: contain;
                        }
                        .xuanxiang-desc{
                            display: none;
                            height: 40px;
                            progress{
                                width:80%;
                                margin-right: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
    .shanchu{
        width: 100%;
        position: fixed;
        bottom: 0;
        z-index: 8;
        ul{
            width: 96%;
            margin: 0 auto;
            li{
                width: 100%;
                height: 40px;
                line-height: 40px;
                text-align: center;
                background: #fff;
                border-radius: 5px;
                margin-bottom: 7px;
                a{
                    color: #000;
                    display: block;
                }
            }
        }
    }
    .mask{
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, .5);
        position: fixed;
        top: 0;
        z-index: 7;
    }
    .toupiao{
        width: 100%;
        background: #fff;
        height: 60px;
        position: fixed;
        bottom: 0;
        z-index: 6;
        .toupiao-btn{
            display: block;
            width:95%;
            height: 40px;
            line-height: 40px;
            margin: 10px auto;
            border: none;
            background: @mc;
            color: #fff;
            border-radius: 8px;
            font-size: 16px;
        }
    }
    
}

// ***********************************************我的页面my.html
.my-all{
    .header-2{
        .middle{
            width: 100%;
            height: 26vh;
            // background: @mc;
            padding-top: 5vh;
            // border: 1px solid #ccc;
            background: url("../image/bgh.png") no-repeat;
            background-size: 100%;
            img{
                display: block;
                width: 70px;
                height: 70px;
                margin:0 auto;
            }
            p.nicheng{
                width:100%;
                height: 50px;
                line-height: 50px;
                text-align: center;
                font-size: 16px;
                color: #202020;
            }
        }
    }
    .article{
        background: #f2f2f2;
        padding-bottom: 10px;
        margin-top: 10px;
        .my-spe{
            padding: 10px 0 15px 0;
            background: #fff;
            width: 100%;
            li{
                display: inline-block;
                width:32.5%;
                height: 50px;
                text-align: center;
                a{
                    display: inline-block;
                    color: #000;
                    width:100%;
                    height: 50px;
                    text-align: center;
                    padding-top: 60px;
                    font-size: 14px;
                }
            }
            .faqi a{
                background: url("../image/faqi.png") no-repeat;
                background-size: 50px 50px;
                background-position: 35px 0;
            }
            .canyu a{
                background: url("../image/canyu.png") no-repeat;
                background-size: 50px 50px;
                background-position: 35px 0;
            }
            .shouquan a{
                background: url("../image/shouquan.png") no-repeat;
                background-size: 50px 50px;
                background-position: 35px 0;
            }
        }
    }
}

// ***********************************************用户管理yonghulist.html
.yonghu-all{
    .yonghu-list{
        ul{
            li{
                .xinxi{
                    width:100%;
                    height: 70px;
                    border-bottom: 1px solid #eee;
                    position: relative;
                    display: block;
                    color: #000;
                    img{
                        display: inline-block;
                        width:46px;
                        height: 46px;
                        margin: 10px;
                    }
                    .xinxi-desc{
                        display: inline-block;
                        width:65%;
                        height: 70px;
                        position: absolute;
                        top:0;
                        span{
                            display: block;
                            height: 30px;
                            line-height: 40px;
                        }
                        .lx{
                            color: #9e9c9c;
                            font-size: 14px;
                        }
                    }
                    .inp{
                        display: inline-block;
                        width:20px;
                        height: 20px;
                        background:url("../image/wx.png") no-repeat;
                        background-size: cover;
                        position: absolute;
                        top: 25px;
                        right: 30px;
                    }
                    .xz-inp{
                        background: url("../image/xz.png") no-repeat;
                        background-size: cover;
                        background-position: 0 0px;
                    }
                }
            }
        }
    }
    .footer-yonghu{
        width: 100%;
        position: fixed;
        bottom: 0;
        button{
            display: block;
            width:95%;
            height: 40px;
            line-height: 40px;
            margin: 10px auto;
            border: none;
            background: @mc;
            color: #fff;
            border-radius: 8px;
            font-size: 16px;
        }
    }
}


// ***********************************************投票列表页面lsit.html
.list-all{
    // 主体
    .article-1{
        .index-tab{
            width:100%;
            // 顶部选项卡（使用浮动）
            .index-tab-ul{
                width:100%;
                height: 40px;
                // border: 1px solid @mc;
                margin: 0 auto;
                box-shadow: 0 4px 20px 0 rgba(0,0,0,0.16), 0 -2px 4px 0 rgba(0,0,0,0.16);
                li{
                    list-style: none;
                    float: left;
                    width: 25%;
                    height: 39px;
                    line-height: 39px;
                    text-align: center;
                    font-size: 16px;
                    color: #202020;
                    font-weight: bold;
                    // border-right: 1px solid @mc;
                    span{
                        padding: 0;
                        margin: 0;
                    }
                }
                .selected{
                    color: @mc;
                    border-bottom: 2px solid @mc;
                    // color: #fff;
                }
            }
            // 底部的投票数据列表
            .list{
                width: 100%;
                margin-bottom: 60px;
                >ul{
                    display: none;
                    margin-top: 5px;
                    >li{
                        width:100%;
                        background: #f2f2f2;
                        padding-bottom: 10px;
                        a{
                            display: block;
                            color: #000;
                            background: #fff;
                            padding: 15px 15px 7px 15px;
                            .top{
                                position: relative;
                                img{
                                    display: block;
                                    width:100%;
                                    margin: 0 auto;
                                }
                                .biaotitu{
                                    display: block;
                                    width: 100%;
                                    height: 26px;
                                    line-height:26px;
                                    color: #fff;
                                    padding-right: 10px;
                                    text-align: right;
                                    background: rgba(0, 0, 0, .5);
                                    position: absolute;
                                    bottom: 0;
                                    font-size: 14px;
                                }
                            }
                            .title{
                                width:100%;
                                height: 38px;
                                line-height: 41px;
                                margin: 0 auto;
                                font-size: 16px;
                                color:#202020;
                                text-align: left;
                                .ellipsis;
                            }
                            .time{
                                .begin,.end{
                                    display: inline-block;
                                    width: 49%;
                                    text-align: left;
                                    font-size: 14px;
                                    color:#bbb;
                                    line-height:20px;
                                }
                            }
                            .desc{
                                width: 100%;
                                font-size: 14px;
                                margin: 0 auto;
                                color:#999999;
                                text-align: left;
                                line-height:26px;
                                .ellipsis;
                            }
                        }
                    }
                    >li:last-child{
                        border: none;
                    }
                }
                .active{
                    display: block;
                }
            }
        }
    }
    .article-5{
        margin-top:5px;
    }
}

// ***********************************************发起投票页面add.html
.add-all{
    .article{
        .add-top{
            .add-biaoti{
                width: 100%;
                border-bottom: 1px solid #ccc;
                #biaoti{
                    width: 100%;
                    height: 46px;
                    line-height: 46px;
                    border: none;
                    padding-left: 15px;
                    font-size: 14px;
                    color: #999;
                }
            }
            .add-miaoshu{
                border-bottom: 1px solid #ccc;
                >p{
                    width: 100%;
                    height: 46px;
                    line-height: 46px;
                    &:before{
                        content: "";
                        border: 3px solid @mc;
                        margin-right: 10px;
                        border-radius: 0 5px 5px 0;
                    }
                }
                >textarea{
                    width:100% !important;
                    border: none;
                    padding: 10px;
                    resize: none;
                    font-size: 14px;
                    color: #999;
                    line-height:26px;
                }
                #tp{
                    padding:0 15px;
                    li{
                        display: inline-block;
                        width: 24%;
                        height: 80px;
                        position: relative;
                        margin-right: 1%;
                        a{
                            display: inline-block;
                            width: 100%;
                            height: 30px;
                            line-height: 30px;
                            text-align: center;
                            color: #fff;
                            font-size: 14px;
                            background: rgba(0, 0, 0, .5);
                            position: absolute;
                            bottom: 0;
                        }
                        img{
                            width: 100%;
                            height: 100%;
                        }
                    }
                    li:nth-child(4n){
                        margin-right: 0;
                    }
                    li:nth-child(n+5){
                        margin-bottom: 0;
                    }
                }
                .add-tupianmiaoshu{
                    width: 100%;
                    height: 40px;
                    line-height: 40px;
                    .add-left{
                        display: inline-block;
                        width:70%;
                        padding-left: 10px;
                        .btn1{
                            background: @mc;
                            border: none;
                            color: #fff;
                            height: 30px;
                            line-height: 30px;
                            padding: 0 10px;
                            border-radius: 8px;
                        }
                    }
                    .add-right{
                        display: inline-block;
                        width:28%;
                        text-align: right;
                        padding-right: 10px;
                        color: #bbb;
                    }
                }
            }
        }
        .add-middle{
            >p{
                width: 100%;
                height: 46px;
                line-height: 46px;
                border-bottom: 1px solid #ccc;
                .add-middle-left,.add-middle-left1{
                    display: inline-block;
                    height: 100%;
                    width:80%;
                    float: left;
                    &:before{
                        content: "";
                        border: 3px solid @mc;
                        margin-right: 10px;
                        border-radius: 0 5px 5px 0;
                    }
                }
                .add-middle-right{
                    display: inline-block;
                    height: 100%;
                    width:18%;
                    text-align: center;
                    float: left;
                    padding-left: 5px;
                }
                .add-middle-left1{
                    width:80%;
                    float: left;
                }
                .add-middle-right1{
                    display: inline-block;
                    height: 100%;
                    width:18%;
                    text-align: center;
                    // float: left;
                    *{
                        padding: 0;
                        margin: 0;
                        height: 50%;
                        margin-top: 8%;
                    }
                    // input[type="button"]{
                    //     width:20px;
                    //     float: left;
                    //     line-height: 15px;
                    // }
                    // input[type="num"]{
                    //     width:50%;
                    //     float: left;
                    //     text-align: center;
                    // }
                    select{
                        display: inline-block;
                        width: 70%;
                        height: 30px;
                        margin: 0;
                        // border: none;
                    }
                }
            }
            #xuanxiang{
                li{
                    width: 100%;
                    border-bottom: 1px solid #ccc;
                    position: relative;
                    input{
                        display: inline-block;
                        width:85%;
                        height: 46px;
                        line-height: 46px;
                        border: none;
                        padding-left: 20px;
                        font-size: 14px;
                    }
                    .close{
                        display: inline-block;
                        width:6%;
                        height: 46px;
                        line-height: 46px;
                        text-align: center;
                        position: absolute;
                        right: 15px;
                        background: url("../image/sc.png") no-repeat;
                        background-size: 20px;
                        background-position: 0 12px;
                        margin-left: 3px;
                    }
                }
            }
            #xuanxiangt{
                height: auto;
                .z_addImg1{
                    height: 40px;
                    padding-left: 15px;
                    border-bottom: 1px solid #ccc;
                    img{
                        display: inline-block;
                        width: 30px;
                        height: 30px;
                        margin-top:5px;
                        margin-right: 5px;
                        float: left;
                    }
                    input{
                        display: inline-block;
                        width: 70%;
                        height: 30px;
                        line-height: 30px;
                        float: left;
                        margin-top: 5px;
                        border: none;
                    }
                    .close1{
                        display: inline-block;
                        width:6%;
                        height: 46px;
                        line-height: 46px;
                        text-align: center;
                        position: absolute;
                        right: 15px;
                        background: url("../image/sc.png") no-repeat;
                        background-size: 20px;
                        background-position: 0 9px;
                        margin-left: 3px;
                    }
                }
            }
            .add-list,.add-list1{
                display: block;
                border-bottom: 1px solid #ccc;
                font-size: 14px;
                .btn1,.btn{
                    width: 100%;
                    height: 46px;
                    line-height: 46px;
                    border: none;
                    background: #fff;
                    color: @mc;
                    font-size: 14px;
                }
            }
        }
        .add-bottom{
            margin-bottom: 20px;
            .gaoji{
                width: 100%;
                height: 46px;
                line-height: 46px;
                border-bottom: 1px solid #ccc;
                position: relative;
                &:before{
                    content: "";
                    border: 3px solid @mc;
                    margin-right: 10px;
                    border-radius: 0 5px 5px 0;
                }
                >span{
                    display: inline-block;
                    height: 100%;
                    width: 85%;
                }
                >img{
                    display: inline-block;
                    position: relative;
                    top: 5px;
                }
                .active1{
                    transform: rotate(90deg);
                    -ms-transform:rotate(90deg); 	/* IE 9 */
                    -moz-transform:rotate(90deg); 	/* Firefox */
                    -webkit-transform:rotate(90deg); /* Safari 和 Chrome */
                    -o-transform:rotate(90deg);
                }
            }
            .gaoji-xuanx{
                >p{
                    width: 100%;
                    height: 46px;
                    line-height: 46px;
                    border-bottom: 1px solid #ccc;
                    >span:nth-child(1){
                        display: inline-block;
                        height: 100%;
                        width: 45%;
                        padding-left: 15px;
                        float: left;
                    }
                    >span:nth-child(2){
                        display: inline-block;
                        height: 90%;
                        width: 50%;
                        float: right;
                        margin-right: 15px;
                        >input{
                            width: 100%;
                            height: 66%;
                        }
                    }
                }
                >p.jiming{
                    >span:nth-child(1){
                        width: 78%;
                    }
                    >span:nth-child(2){
                        width: 16%;
                        margin-right: 0;
                        .jiming{
                            margin-left: 0;
                        }
                    }
                }
            }
        }
    }
}

// 单选按钮
.choose{
    display: inline-block;
    width: 46px;
    height: 25px;
    text-align: right;
    float: left;
    margin: 10px 0 0 10px;
    >span{
        float: right;
        width: 46px;
        height: 25px;
        border-radius: 1.8rem;
        background: #BBBBBB;
        position: relative;
        >span{
            position: absolute;
            height: 25px;
            width: 25px;
            border-radius: 50%;
            background: #ffffff;
            border: 1px solid #d8d8d8;
            left: 0;
        }
    }
    .selected{
        background: #0BB908;
        >span{
            left: 21px;
            border-color: #0BB908;
            animation: .3s selectSpanMove;
        }
    }
    .rmSelected{
        >span{
            left: 0;
            animation: .3s rmSelectSpanMove;
        }
    }
}
@keyframes rmSelectSpanMove {
    0% {
        left: 21px;
    }
    100% {
        left: 0;
    }
}

@keyframes selectSpanMove {
    0% {
        left: 0;
    }
    100% {
        left: 21px;
    }
}
/*弹窗*/
.cover{display: none}
.pop_box{width: 74%;margin: 0 auto;position: fixed;top: 30%;left: 50%;margin-left: -37%;z-index: 102;}
.pop_img img{width: 100%;}
.pop_center{height: 44px;width:70%;margin:0 auto;background: rgba(0, 0, 0, .7);color: #fff;text-align: center;position: fixed;bottom:20px;border-radius: 8px;};
.pop_center span{text-align: center;font-size: 14px;color: #fff;line-height: 44px; height: 44px;}
